body {
    padding: auto;
    background-color: aliceblue;
}
.main {
    position: relative;
}
h1 {
    color : white;
    font-size: 8vh;
}
.box1 {
    position: absolute;
    left: 10px;
    width: 70vw;
    height: 90vh;

}

.box2 {
    position: absolute;
    left: 70vw;
    width: 30vw;
}